// Middle yellow Red: F0B67F;
// orange red crayon: FE5F55;
// dutch white: D6D1B1;
// aero blue: C7EFCF;
// beige: EEF5DB;

$special: 'Bebas Neue', cursive;
$simple: 'Poppins', sans-serif;

$background: #C7EFCF;
$background-darker: #AFE9BB;
$background-darkest: #8FE09F;