$special: 'Bebas Neue', cursive;
$simple: 'Poppins', sans-serif;
$background: #C7EFCF;
$background-darker: #AFE9BB;
$background-darkest: #8FE09F;
$orange-highlight: #FE5F55;
$orange-darker: #EA9648;
$orange-lightest: #F0B67F;