@import 'setup';
@import 'variables';
@import 'mixins';
// General styles
html {
    font-size: 62.5%;
} 
body,
ul,
h1,
h2,
h3,
p {
    font-size: 1.6rem;
}
ul {
    padding: 0;
    list-style-type: none;
}
a {
    display: inline-block;
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
h1,
h3 {
    text-shadow: 4px 4px $background-darkest;
    font-family: $special;
    font-size: 8rem;
}
h1 {
    text-shadow: 4px 4px $background-darkest, 7px 7px $orange-lightest, 10px 10px $orange-highlight;
}
button,
.button {
    font-family: $special;
    color: black;
    font-size: 2.5rem;
    line-height: 1em;
    padding: 10px 30px 8px;
    border: none;
    margin-top: -5px;
    background-color: $background-darkest;
    transition: 
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;
    &:hover,
    &:focus {
        background-color: black;
        color: white;
    }
}
.button {
    margin-top: 20px;
}
// Sections ans styles
body {
    background-color: $background;
}
.wrapper {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    @include tabletMQ {
        flex-direction: column;
    }
}
header,
.show-details {
    padding-top: 7%;
    min-height: 95vh;
    @include tabletMQ {
        min-height: unset;
    }
}
header {
    width: 45%;
    @include tabletMQ {
        width: 100%;
        padding: 5% 0;
    }
    padding-right: 7%;
    font-family: $simple;
    display: flex;
    flex-direction: column;
    img {
        width: 100px;
        margin: 0 0 10px 6px;
    }
    h2 {
        margin: 20px 0;
        font-weight: bold;
        font-size: 2rem;
    }
    label,
    input,
    button {
        display: block;
        width: 100%;
        max-width: 300px;
        margin-bottom: 10px;
        @include mobileMQ {
            max-width: unset;
        }
    }
    input {
        font-size: 3rem;
        line-height: 1em;
        padding: 5px 10px 2px;
        font-family: $special;
        background-color: $background-darker;
        border: none;
        transition: 
            background-color 0.3s ease-in-out,
            color 0.3s ease-in-out;
        &:hover,
        &:focus {
            background-color: black;
            color: white;
        }
    }
    .suggestions {
        li {
            display: inline-block;
            margin: 5px 20px 5px 0; 

            button {
                max-width: 100%;
                font-family: $simple;
                font-size: 1.4rem;
                padding: 5px 10px;
                background-color: $background-darker;
                border-radius: 5px;
                transition: 
                    background-color 0.3s ease-in-out,
                    color 0.3s ease-in-out;
                &:hover,
                &:focus {
                cursor: pointer;
                background-color: black;
                color: white;
                }
            }
        }
    }  
}
// end of header
.show-details {
    width: 55%;
        @include tabletMQ {
            width: 100%;
            padding: 0;
        }
    display: flex;
    flex-wrap: wrap;
    font-family: $special;
    h3 {
        font-size: calc(3.5rem + 2vw);
        line-height: 0.9em;
        width: 100%;
        margin-bottom: 10px;
    }
    h4 {
        font-size: 2.2rem;
        padding-top: 20px;
    }
    p, 
    li {
        font-size: 4rem;
    }
    .image {
        width: 50%;
            @include mobileMQ {
                width: 100%;
            }
        img {
            width: 100%;
            border-right: 15px solid $orange-highlight;
            border-top: 15px solid $orange-highlight;
            border-left: 15px solid $orange-lightest;
            border-bottom: 15px solid $orange-lightest;
            box-shadow: -10px 10px 4px $background-darkest;
        }
    }  
    .details {
        width: 50%;
        padding-left: 20px;
            @include mobileMQ {
                width: 100%;
                padding: 0;
            }
    }    
    .description {
        width: 100%;
        margin-top: 30px;
        p {
            font-size: 2.5rem;
            padding-bottom: 20px;
            line-height: 1.2em;
        }
        .content{
            width: 100%;
            background-color: $background-darker;
            background-image: linear-gradient($background-darkest, #F0B67F);
            height: 30vh;
            overflow: auto;
            padding: 30px;
            margin-top: 5px;
            @include tabletMQ {
                height: unset;
                padding-bottom: 10px;
            }
        }
    }
}
// end of show-details
// cast member section beginning
.cast-members-container{
    margin-top: 50px;
    background-color: $orange-lightest;
    h3 {
        width: 100%;
        text-align: center;
        font-size: 6.5rem;
        padding-top: 80px;
        text-shadow: 4px 4px $orange-darker;

    }
    .cast-members {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        width: 100%;
        margin: 10px;
        li {
            display: flex;
            margin: 50px 0px 50px 50px;
            align-items: flex-start;
            width: calc(50% - 100px);
            @include tabletMQ{
                margin-left: 0;
                width: 100%;
            }
            @include mobileMQ {
                flex-direction: column;
            }
            .image{
                width: 50%;
                img {
                    border-right: 15px solid $background-darkest;
                    border-top: 15px solid $background-darkest;
                    border-left: 15px solid $background;
                    border-bottom: 15px solid $background;
                    box-shadow: -10px 10px 4px $orange-darker;
                    @include mobileMQ {
                        margin: 0 auto;
                    }
                }
                @include mobileMQ {
                    width: 100%;
                    text-align: center;
                }
            }
            .cast-info {
                font-family: $special;
                margin-left: 20px;
                width: calc(50% - 20px);
                @include tabletMQ {
                    width: 100%;
                }
                @include mobileMQ {
                    margin: 0 auto;
                    width: 240px;
                    margin-top: 40px;
                }
            }
            h4 {
                font-size: calc(1.3rem + 1vw);
                padding-top: 3px;
            }
            p {
                font-size: calc(2.5rem + 1vw);
                padding-top: 3px;
                padding-bottom: 12px;
            }
        }
    }
}
footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    min-height: 60px;
    font-family: $special;
    a {
        color: black;
        text-decoration: underline;
    }
}