a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body,
ul,
h1,
h2,
h3,
p {
  font-size: 1.6rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h3 {
  text-shadow: 4px 4px #8FE09F;
  font-family: "Bebas Neue", cursive;
  font-size: 8rem;
}

h1 {
  text-shadow: 4px 4px #8FE09F, 7px 7px #F0B67F, 10px 10px #FE5F55;
}

button,
.button {
  font-family: "Bebas Neue", cursive;
  color: black;
  font-size: 2.5rem;
  line-height: 1em;
  padding: 10px 30px 8px;
  border: none;
  margin-top: -5px;
  background-color: #8FE09F;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover, button:focus,
.button:hover,
.button:focus {
  background-color: black;
  color: white;
}

.button {
  margin-top: 20px;
}

body {
  background-color: #C7EFCF;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 900px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header,
main {
  padding-top: 7%;
  min-height: 95vh;
}

@media (max-width: 900px) {
  header,
  main {
    min-height: unset;
  }
}

header {
  width: 45%;
  padding-right: 7%;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 900px) {
  header {
    width: 100%;
    padding: 5% 0;
  }
}

header img {
  width: 100px;
  margin: 0 0 10px 6px;
}

header h2 {
  margin: 20px 0;
  font-weight: bold;
  font-size: 2rem;
}

header label,
header input,
header button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

@media (max-width: 550px) {
  header label,
  header input,
  header button {
    max-width: unset;
  }
}

header input {
  font-size: 3rem;
  line-height: 1em;
  padding: 5px 10px 2px;
  font-family: "Bebas Neue", cursive;
  background-color: #AFE9BB;
  border: none;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

header input:hover, header input:focus {
  background-color: black;
  color: white;
}

header .suggestions li {
  display: inline-block;
  background-color: #AFE9BB;
  padding: 5px 10px 6px;
  margin: 10px 20px 10px 0;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

header .suggestions li:hover, header .suggestions li:focus {
  cursor: pointer;
  background-color: black;
  color: white;
}

main {
  width: 55%;
}

@media (max-width: 900px) {
  main {
    width: 100%;
    padding: 0;
  }
}

main .show-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Bebas Neue", cursive;
}

main .show-details h3 {
  font-size: 5rem;
  width: 100%;
  margin-bottom: 10px;
}

main .show-details h4 {
  font-size: 2.2rem;
  padding-top: 20px;
}

main .show-details p,
main .show-details li {
  font-size: 4rem;
}

main .show-details .image {
  width: 50%;
}

@media (max-width: 550px) {
  main .show-details .image {
    width: 100%;
  }
}

main .show-details .image img {
  width: 100%;
  border-right: 10px solid #FE5F55;
  border-top: 10px solid #FE5F55;
  border-left: 10px solid #F0B67F;
  border-bottom: 10px solid #F0B67F;
  -webkit-box-shadow: -8px 8px 4px #8FE09F;
          box-shadow: -8px 8px 4px #8FE09F;
}

main .show-details .details {
  width: 50%;
  padding-left: 20px;
}

@media (max-width: 550px) {
  main .show-details .details {
    width: 100%;
    padding: 0;
  }
}

main .show-details .description {
  margin-top: 30px;
}

main .show-details .description p {
  font-size: 2.5rem;
  padding-bottom: 20px;
  line-height: 1.2em;
}

main .show-details .description .content {
  background-color: #AFE9BB;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8FE09F), to(#F0B67F));
  background-image: linear-gradient(#8FE09F, #F0B67F);
  height: 30vh;
  overflow: auto;
  padding: 30px;
  margin-top: 5px;
}

@media (max-width: 900px) {
  main .show-details .description .content {
    height: unset;
    padding-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5vh;
  min-height: 60px;
  font-family: "Bebas Neue", cursive;
}

footer a {
  color: black;
  text-decoration: underline;
}
